/*
    Document   : css/index_style.css
    Created on : 2015-06-10 10:15 AM
    Author     : bluechiptony
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/


body{
    font-family:arial;
    background:url('../img/bookbg.jpg');
}
root {
    display: block;
}

.clr{
 clear:both;   
}


.big_text_box{
    width:450px;
    margin:0 auto;
    height:25px;
    font-size:15px;
    padding:5px;
    margin-bottom:50px;
       
}

.semi_box{
    width:450px;
    
    height:15px;
    font-size:10px;
    padding:5px;
    margin-bottom:10px;
       
}


.error_text{
    color:red;
}

.big_button{
    width:100px;
    height:30px;
    font-size:15px;
    padding:5px;
}

.submit_button{
    width:80px;
    height:30px;
    font-size:15px;
    padding:5px;
}


.form_holder{
    width:500px;
    margin: 0 auto;
    padding:20px;
    background:url('../img/trans.png');
    color:#e8e8e8;
    
}

.wide_content_holder{
    width:600px;
    margin: 0 auto;
    padding:20px;
    background:url('../img/trans.png');
    color:#e8e8e8;
    
}