<div class="form_holder">
    

<form ng-controller="loginController as log">
        <h3>Please Enter Login Details</h3>
       
            <span class="error_text" ng-bind="log.message"></span><br/>
            <input class="semi_box"placeholder="Email Address" type="text" ng-model="log.uname"><br/>

            <input class="semi_box" placeholder="Password" type="password" ng-model="log.pass"><br/>
            <button ng-click="log.login()" class="submit_button">Login</button><br/>
            <span>not a member?<a href="#/signup">Sign Up</a></span>
        

    </form>
    </div>