<div class="wide_content_holder" ng-controller="searchController as search">
    
<span ng-bind="search.user_name">
    </span><br/>
    <li><a href="#/{{search.loginlink()}}">{{search.loginlink()}}</a>
    <form >
        <input class="big_text_box" type="text" id="search_box" placeholder="search for book...Type ISBN" ng-model="search.stext">

        <label><span></span><button class="big_button" ng-click="search.searchcommence()">
                    Search
                    </button></label>
    </form>
    <div >
        <span ng-click="search.addToList()" ng-bind="search.save_button">
            
        </span><br/><br/><br/>
        <img ng-src="{{search.book.img}}"/><br/>
        <span ng-bind="search.book.title"></span><br/>
        <span ng-bind="search.book.date"></span><br/>
        <span ng-bind="search.book.description"></span><br/>
    </div>
</div>