<div class="form_holder">
    <h3>Enter Your Personal Details To register</h3>
    <form ng-controller="regController as reg">
        <input class="semi_box" type="text" ng-model="reg.email" id="email"  placeholder="Email Address"><br/>
        <input class="semi_box" type="text" ng-model="reg.first_name"id="first_name" placeholder="First Name"><br/>
        <input class="semi_box" type="text" ng-model="reg.last_name"id="last_name" placeholder="Last Name"><br/>
        <input class="semi_box" type="text" ng-model="reg.pass_first"id="pass_first" placeholder="Password"><br/>
        <input class="semi_box" type="text" ng-model="reg.pass_confirm"id="pass_confirm" placeholder="Confirm Password"><br/>
        <button ng-click="reg.commenceRegister()" class="submit_button">Sign Up</button><br/>
    </form>    
</div>
    
